<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="index.css">
    <title>JavaScript in 1 video</title>
  </head>
  <body>
    <h1>User Table</h1>
    <div class="search-input">
      <label>Search : </label>
      <input
        name="search"
        type="text"
        oninput="onSearch(this)"
        placeholder="type something to search"
      />
    </div>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Website</th>
        </tr>
      </thead>
      <tbody id="tableBody"></tbody>
    </table>
    <script src="../js/index.js" type="module"></script>
  </body>
</html>
